@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    overflow: hidden;
    height: 100vh;
    position: fixed;
    width: 100%;
    background-color: #0c0c0f;
    color: #f5f5f5;
  }

  * {
    scrollbar-width: thin;
    scrollbar-color: #b0ff1f33 transparent;
  }

  *::-webkit-scrollbar {
    width: 4px;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #b0ff1f33;
    border-radius: 20px;
  }
}
